.angry-grid {
  display: grid;
  border: 0.5px solid #000;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

.angry-grid div {
  border: 0.5px solid #000;
}

.middle {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#item-0 {
  flex-direction: column;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 15;
}
#item-1 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 4;
}
#item-2 {
  grid-row-start: 4;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 7;
}
#item-3 {
  grid-row-start: 4;
  grid-column-start: 7;
  grid-row-end: 5;
  grid-column-end: 15;
}
#item-4 {
  grid-row-start: 5;
  grid-column-start: 4;
  grid-row-end: 6;
  grid-column-end: 7;
}
#item-5 {
  grid-row-start: 5;
  grid-column-start: 7;
  grid-row-end: 6;
  grid-column-end: 15;
}
#item-6 {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 15;
}
#item-7 {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-row-end: 8;
  grid-column-end: 15;
}
#item-8 {
  grid-row-start: 8;
  grid-column-start: 1;
  grid-row-end: 9;
  grid-column-end: 15;
}
#item-9 {
  grid-row-start: 9;
  grid-column-start: 1;
  grid-row-end: 10;
  grid-column-end: 15;
}
#item-10 {
  grid-row-start: 10;
  grid-column-start: 1;
  grid-row-end: 11;
  grid-column-end: 15;
}
#item-11 {
  grid-row-start: 11;
  grid-column-start: 1;
  grid-row-end: 12;
  grid-column-end: 15;
}
#item-12 {
  grid-row-start: 12;
  grid-column-start: 1;
  grid-row-end: 13;
  grid-column-end: 15;
}
#item-13 {
  grid-row-start: 13;
  grid-column-start: 1;
  grid-row-end: 16;
  grid-column-end: 5;
}
#item-14 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 5;
  grid-row-end: 15;
  grid-column-end: 6;
}
#item-15 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 6;
  grid-row-end: 15;
  grid-column-end: 7;
}
#item-16 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 7;
  grid-row-end: 15;
  grid-column-end: 8;
}
#item-17 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 8;
  grid-row-end: 15;
  grid-column-end: 9;
}
#item-18 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 9;
  grid-row-end: 15;
  grid-column-end: 10;
}
#item-19 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 10;
  grid-row-end: 15;
  grid-column-end: 11;
}
#item-20 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 11;
  grid-row-end: 15;
  grid-column-end: 12;
}
#item-21 {
  font-size: 22px;
  grid-row-start: 14;
  grid-column-start: 12;
  grid-row-end: 15;
  grid-column-end: 13;
}
#item-22 {
  grid-row-start: 14;
  grid-column-start: 13;
  grid-row-end: 15;
  grid-column-end: 14;
}
#item-23 {
  grid-row-start: 14;
  grid-column-start: 14;
  grid-row-end: 15;
  grid-column-end: 15;
}
#item-24 {
  grid-row-start: 13;
  grid-column-start: 5;
  grid-row-end: 14;
  grid-column-end: 15;
}
#item-25 {
  grid-row-start: 15;
  grid-column-start: 5;
  grid-row-end: 16;
  grid-column-end: 15;
}
#item-26 {
  grid-row-start: 16;
  grid-column-start: 1;
  grid-row-end: 17;
  grid-column-end: 15;
}
#item-27 {
  grid-row-start: 17;
  grid-column-start: 1;
  grid-row-end: 20;
  grid-column-end: 5;
}
#item-28 {
  grid-row-start: 18;
  grid-column-start: 5;
  grid-row-end: 19;
  grid-column-end: 6;
}
#item-29 {
  grid-row-start: 18;
  grid-column-start: 6;
  grid-row-end: 19;
  grid-column-end: 7;
}
#item-30 {
  grid-row-start: 18;
  grid-column-start: 7;
  grid-row-end: 19;
  grid-column-end: 8;
}
#item-31 {
  grid-row-start: 18;
  grid-column-start: 8;
  grid-row-end: 19;
  grid-column-end: 9;
}
#item-32 {
  grid-row-start: 18;
  grid-column-start: 9;
  grid-row-end: 19;
  grid-column-end: 10;
}
#item-33 {
  grid-row-start: 18;
  grid-column-start: 10;
  grid-row-end: 19;
  grid-column-end: 11;
}
#item-34 {
  grid-row-start: 18;
  grid-column-start: 11;
  grid-row-end: 19;
  grid-column-end: 12;
}
#item-35 {
  grid-row-start: 18;
  grid-column-start: 12;
  grid-row-end: 19;
  grid-column-end: 13;
}
#item-36 {
  grid-row-start: 18;
  grid-column-start: 13;
  grid-row-end: 19;
  grid-column-end: 14;
}
#item-37 {
  grid-row-start: 18;
  grid-column-start: 14;
  grid-row-end: 19;
  grid-column-end: 15;
}
#item-38 {
  grid-row-start: 17;
  grid-column-start: 5;
  grid-row-end: 18;
  grid-column-end: 15;
}
#item-39 {
  grid-row-start: 19;
  grid-column-start: 5;
  grid-row-end: 20;
  grid-column-end: 15;
}
#item-40 {
  grid-row-start: 20;
  grid-column-start: 1;
  grid-row-end: 21;
  grid-column-end: 4;
}
#item-41 {
  grid-row-start: 20;
  grid-column-start: 4;
  grid-row-end: 21;
  grid-column-end: 6;
}
#item-42 {
  grid-row-start: 20;
  grid-column-start: 6;
  grid-row-end: 21;
  grid-column-end: 15;
}
#item-43 {
  grid-row-start: 21;
  grid-column-start: 1;
  grid-row-end: 22;
  grid-column-end: 4;
}
#item-44 {
  grid-row-start: 21;
  grid-column-start: 4;
  grid-row-end: 22;
  grid-column-end: 15;
}
#item-45 {
  grid-row-start: 22;
  grid-column-start: 1;
  grid-row-end: 25;
  grid-column-end: 4;
}
#item-46 {
  grid-row-start: 22;
  grid-column-start: 4;
  grid-row-end: 25;
  grid-column-end: 15;
}
#item-47 {
  grid-row-start: 25;
  grid-column-start: 1;
  grid-row-end: 27;
  grid-column-end: 15;
}
#item-48 {
  grid-row-start: 27;
  grid-column-start: 1;
  grid-row-end: 28;
  grid-column-end: 15;
}
#item-49 {
  grid-row-start: 28;
  grid-column-start: 1;
  grid-row-end: 29;
  grid-column-end: 15;
}
#item-50 {
  grid-row-start: 29;
  grid-column-start: 1;
  grid-row-end: 32;
  grid-column-end: 5;
}
#item-51 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 5;
  grid-row-end: 31;
  grid-column-end: 6;
}
#item-52 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 6;
  grid-row-end: 31;
  grid-column-end: 7;
}
#item-53 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 7;
  grid-row-end: 31;
  grid-column-end: 8;
}
#item-54 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 8;
  grid-row-end: 31;
  grid-column-end: 9;
}
#item-55 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 9;
  grid-row-end: 31;
  grid-column-end: 10;
}
#item-56 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 10;
  grid-row-end: 31;
  grid-column-end: 11;
}
#item-57 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 11;
  grid-row-end: 31;
  grid-column-end: 12;
}
#item-58 {
  font-size: 22px;
  grid-row-start: 30;
  grid-column-start: 12;
  grid-row-end: 31;
  grid-column-end: 13;
}
#item-59 {
  grid-row-start: 30;
  grid-column-start: 13;
  grid-row-end: 31;
  grid-column-end: 14;
}
#item-60 {
  grid-row-start: 30;
  grid-column-start: 14;
  grid-row-end: 31;
  grid-column-end: 15;
}
#item-61 {
  grid-row-start: 29;
  grid-column-start: 5;
  grid-row-end: 30;
  grid-column-end: 15;
}
#item-62 {
  grid-row-start: 31;
  grid-column-start: 5;
  grid-row-end: 32;
  grid-column-end: 15;
}
#item-63 {
  grid-row-start: 32;
  grid-column-start: 1;
  grid-row-end: 33;
  grid-column-end: 5;
}
#item-64 {
  grid-row-start: 32;
  grid-column-start: 5;
  grid-row-end: 33;
  grid-column-end: 15;
}
#item-65 {
  grid-row-start: 33;
  grid-column-start: 1;
  grid-row-end: 36;
  grid-column-end: 5;
}
#item-66 {
  grid-row-start: 33;
  grid-column-start: 13;
  grid-row-end: 34;
  grid-column-end: 14;
}
#item-67 {
  grid-row-start: 33;
  grid-column-start: 14;
  grid-row-end: 34;
  grid-column-end: 15;
}
#item-68 {
  grid-row-start: 35;
  grid-column-start: 13;
  grid-row-end: 36;
  grid-column-end: 14;
}
#item-69 {
  grid-row-start: 35;
  grid-column-start: 14;
  grid-row-end: 36;
  grid-column-end: 15;
}
#item-70 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 14;
  grid-row-end: 35;
  grid-column-end: 15;
}
#item-71 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 13;
  grid-row-end: 35;
  grid-column-end: 14;
}
#item-72 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 12;
  grid-row-end: 35;
  grid-column-end: 13;
}
#item-73 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 11;
  grid-row-end: 35;
  grid-column-end: 12;
}
#item-74 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 10;
  grid-row-end: 35;
  grid-column-end: 11;
}
#item-75 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 9;
  grid-row-end: 35;
  grid-column-end: 10;
}
#item-76 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 8;
  grid-row-end: 35;
  grid-column-end: 9;
}
#item-77 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 7;
  grid-row-end: 35;
  grid-column-end: 8;
}
#item-78 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 6;
  grid-row-end: 35;
  grid-column-end: 7;
}
#item-79 {
  font-size: 22px;
  grid-row-start: 34;
  grid-column-start: 5;
  grid-row-end: 35;
  grid-column-end: 6;
}
#item-80 {
  grid-row-start: 33;
  grid-column-start: 5;
  grid-row-end: 34;
  grid-column-end: 13;
}
#item-81 {
  grid-row-start: 35;
  grid-column-start: 5;
  grid-row-end: 36;
  grid-column-end: 13;
}
#item-82 {
  grid-row-start: 36;
  grid-column-start: 1;
  grid-row-end: 37;
  grid-column-end: 4;
}
#item-83 {
  grid-row-start: 36;
  grid-column-start: 4;
  grid-row-end: 37;
  grid-column-end: 15;
}
#item-84 {
  grid-row-start: 37;
  grid-column-start: 1;
  grid-row-end: 38;
  grid-column-end: 4;
}
#item-85 {
  grid-row-start: 37;
  grid-column-start: 4;
  grid-row-end: 38;
  grid-column-end: 15;
}
#item-86 {
  grid-row-start: 38;
  grid-column-start: 1;
  grid-row-end: 41;
  grid-column-end: 4;
}
#item-87 {
  grid-row-start: 38;
  grid-column-start: 4;
  grid-row-end: 41;
  grid-column-end: 15;
}
#item-88 {
  grid-row-start: 41;
  grid-column-start: 1;
  grid-row-end: 44;
  grid-column-end: 4;
}
#item-89 {
  grid-row-start: 41;
  grid-column-start: 4;
  grid-row-end: 42;
  grid-column-end: 7;
}

#item-90 {
  grid-row-start: 42;
  grid-column-start: 4;
  grid-row-end: 44;
  grid-column-end: 5;
}
#item-91 {
  grid-row-start: 42;
  grid-column-start: 5;
  grid-row-end: 43;
  grid-column-end: 7;
}
#item-92 {
  grid-row-start: 43;
  grid-column-start: 5;
  grid-row-end: 44;
  grid-column-end: 7;
}
#item-93 {
  grid-row-start: 41;
  grid-column-start: 7;
  grid-row-end: 42;
  grid-column-end: 15;
}
#item-94 {
  grid-row-start: 42;
  grid-column-start: 7;
  grid-row-end: 43;
  grid-column-end: 15;
}
#item-95 {
  grid-row-start: 43;
  grid-column-start: 7;
  grid-row-end: 44;
  grid-column-end: 15;
}
#item-96 {
  grid-row-start: 44;
  grid-column-start: 1;
  grid-row-end: 45;
  grid-column-end: 15;
}
#item-97 {
  grid-row-start: 45;
  grid-column-start: 1;
  grid-row-end: 46;
  grid-column-end: 15;
}
#item-98 {
  grid-row-start: 46;
  grid-column-start: 1;
  grid-row-end: 47;
  grid-column-end: 2;
}

#item-98 h4,
#item-100 h4,
#item-101 h4,
#item-102 h4,
#item-103 h4,
#item-104 h4,
#item-105 h4,
#item-106 h4,
#item-107 h4 {
  transform: rotate(-90deg);
}

#item-99 {
  grid-row-start: 46;
  grid-column-start: 2;
  position: relative;
  grid-row-end: 47;
  grid-column-end: 5;
  padding-left: 15px;
}

#item-100 {
  grid-row-start: 46;
  grid-column-start: 12;
  grid-row-end: 47;
  grid-column-end: 15;
}
#item-101 {
  grid-row-start: 46;
  grid-column-start: 5;
  grid-row-end: 47;
  grid-column-end: 6;
}
#item-102 {
  grid-row-start: 46;
  grid-column-start: 6;
  grid-row-end: 47;
  grid-column-end: 7;
}
#item-103 {
  grid-row-start: 46;
  grid-column-start: 7;
  grid-row-end: 47;
  grid-column-end: 8;
}
#item-104 {
  grid-row-start: 46;
  grid-column-start: 8;
  grid-row-end: 47;
  grid-column-end: 9;
}
#item-105 {
  grid-row-start: 46;
  grid-column-start: 9;
  grid-row-end: 47;
  grid-column-end: 10;
}
#item-106 {
  grid-row-start: 46;
  grid-column-start: 10;
  grid-row-end: 47;
  grid-column-end: 11;
}
#item-107 {
  grid-row-start: 46;
  grid-column-start: 11;
  grid-row-end: 47;
  grid-column-end: 12;
}
#item-108 {
  grid-row-start: 47;
  grid-column-start: 1;
  grid-row-end: 48;
  grid-column-end: 2;
}
#item-109 {
  grid-row-start: 47;
  grid-column-start: 2;
  grid-row-end: 48;
  grid-column-end: 5;
}
#item-110 {
  grid-row-start: 47;
  grid-column-start: 5;
  grid-row-end: 48;
  grid-column-end: 6;
}
#item-111 {
  grid-row-start: 47;
  grid-column-start: 6;
  grid-row-end: 48;
  grid-column-end: 7;
}
#item-112 {
  grid-row-start: 47;
  grid-column-start: 7;
  grid-row-end: 48;
  grid-column-end: 8;
}
#item-113 {
  grid-row-start: 47;
  grid-column-start: 8;
  grid-row-end: 48;
  grid-column-end: 9;
}
#item-114 {
  grid-row-start: 47;
  grid-column-start: 9;
  grid-row-end: 48;
  grid-column-end: 10;
}
#item-115 {
  grid-row-start: 47;
  grid-column-start: 10;
  grid-row-end: 48;
  grid-column-end: 11;
}
#item-116 {
  grid-row-start: 47;
  grid-column-start: 11;
  grid-row-end: 48;
  grid-column-end: 12;
}
#item-117 {
  grid-row-start: 47;
  grid-column-start: 12;
  grid-row-end: 48;
  grid-column-end: 15;
}
#item-118 {
  grid-row-start: 48;
  grid-column-start: 1;
  grid-row-end: 49;
  grid-column-end: 2;
}
#item-119 {
  grid-row-start: 48;
  grid-column-start: 2;
  grid-row-end: 49;
  grid-column-end: 5;
}
#item-120 {
  grid-row-start: 48;
  grid-column-start: 5;
  grid-row-end: 49;
  grid-column-end: 6;
}
#item-121 {
  grid-row-start: 48;
  grid-column-start: 6;
  grid-row-end: 49;
  grid-column-end: 7;
}
#item-122 {
  font-size: 22px;
  grid-row-start: 48;
  grid-column-start: 7;
  grid-row-end: 49;
  grid-column-end: 8;
}
#item-123 {
  grid-row-start: 48;
  grid-column-start: 8;
  grid-row-end: 49;
  grid-column-end: 9;
}
#item-124 {
  font-size: 22px;
  grid-row-start: 48;
  grid-column-start: 9;
  grid-row-end: 49;
  grid-column-end: 10;
}
#item-125 {
  font-size: 22px;
  grid-row-start: 48;
  grid-column-start: 10;
  grid-row-end: 49;
  grid-column-end: 11;
}
#item-126 {
  font-size: 22px;
  grid-row-start: 48;
  grid-column-start: 11;
  grid-row-end: 49;
  grid-column-end: 12;
}
#item-127 {
  font-size: 22px;
  grid-row-start: 48;
  grid-column-start: 12;
  grid-row-end: 49;
  grid-column-end: 15;
}
#item-128 {
  grid-row-start: 49;
  grid-column-start: 1;
  grid-row-end: 50;
  grid-column-end: 5;
}
#item-129 {
  grid-row-start: 49;
  grid-column-start: 5;
  grid-row-end: 50;
  grid-column-end: 6;
}
#item-130 {
  grid-row-start: 49;
  grid-column-start: 6;
  grid-row-end: 50;
  grid-column-end: 7;
}
#item-131 {
  grid-row-start: 49;
  grid-column-start: 7;
  grid-row-end: 50;
  grid-column-end: 8;
}
#item-132 {
  grid-row-start: 49;
  grid-column-start: 8;
  grid-row-end: 50;
  grid-column-end: 9;
}
#item-133 {
  font-size: 22px;
  grid-row-start: 49;
  grid-column-start: 9;
  grid-row-end: 50;
  grid-column-end: 10;
}
#item-134 {
  font-size: 22px;
  grid-row-start: 49;
  grid-column-start: 10;
  grid-row-end: 50;
  grid-column-end: 11;
}
#item-135 {
  font-size: 22px;
  grid-row-start: 49;
  grid-column-start: 11;
  grid-row-end: 50;
  grid-column-end: 12;
}
#item-136 {
  font-size: 22px;
  grid-row-start: 49;
  grid-column-start: 12;
  grid-row-end: 50;
  grid-column-end: 15;
}
